body,html{width: 100%; height: 100%;}
#wrap{width: 100%; height: 100%;}
#headBox{
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}
#headBox h1{
  float: left;
  width: 150px;
  height: 50px;
  background-color: #232323;
}
#headBox h1 a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
#headBox button{
  float: right;
  width: 150px;
  height: 50px;
  background-color: #232323;
  color: #fff;
}
/* //headBox */
/* 슬라이드에서 ul, li값을 css로 할 경우 clone값 때문에 흰 공백화면이 생김. 따라서 js로 처리. */
#container{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.indicator_wrap{
  position: absolute;
  z-index: 9999;
  width: 150px;
  height: 30px;
  bottom: 10%;
  left: 5%;
}
.indicator_wrap ul{
  float: left;
}
.indicator_wrap ul li{
  overflow: hidden;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.indi_border_tr,
.indi_border_tl,
.indi_border_br,
.indi_border_bl{
  display: inline-block;
  position: absolute;
  background-color: #232323;
  transition: all 800ms ease;
}
.indi_border_tr{
  width: 1px;
  height: 30px;
  top: -30px;
  right: 0;
}
.indicator_wrap ul li.focus .indi_border_tr{
  top: 0;
}
.indi_border_tl{
  top: 0;
  left: -30px;
  width: 30px;
  height: 1px;
}
.indicator_wrap ul li.focus .indi_border_tl{
  left: 0;
}
.indi_border_br{
  bottom: 0;
  right: -30px;
  width: 30px;
  height: 1px;
}
.indicator_wrap ul li.focus .indi_border_br{
  right: 0;
}
.indi_border_bl{
  bottom: -30px;
  left: 0;
  width: 1px;
  height: 30px;
}
.indicator_wrap ul li.focus .indi_border_bl{
  bottom: 0;
}
.indicator_wrap ul li a{
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.indicator_wrap ul li a i{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #232323;
}
.indicator_wrap button{
  float: right;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.indicator_wrap button i{
  font-size: 30px;
}
/* //indicator_wrap */
.slide_wrap{
  position: absolute;
  /*width: 400%; js에서 처리*/
  height: 100%;
  top: 0;
  left: 0;
}
.slide_wrap li{
  float: left;
  /*width: 100/갯수%; js에서 처리*/
  height: 100%;
}
.slide_wrap .img_list_01{
  background-image: url('../../img/main/main_yg.jpg');
}
.slide_wrap .img_list_02{
  background-image: url('../../img/main/main_boolatoon.jpg');
}
.slide_wrap .img_list_03{
  background-image: url('../../img/main/main_acg.jpg');
}
/* //slide_wrap */
.list_contain{
  position: absolute;
  width: 500px;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: -200px;
  background-color: #fff;
  transition: all 800ms ease;
}
.white_wrap{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
}
.list_contain:hover{
  margin-right: 0;
}
.list_contain:hover .white_wrap{
  display: none;
}
.list_wrap{
  width: 100%;
  height: 110%;
  padding: 50px;
  padding-top: 90px;
  padding-bottom: calc(90px + 10%);
  box-sizing: border-box;
  overflow-x: scroll;
}
.list_wrap ul{
  width: 400px;
}
.list_wrap ul li{
  width: 100%;
  margin-bottom: 80px;
}
.list_wrap ul li a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.list_wrap ul li a dl{

}
.list_wrap ul li a dl dt{
  display: inline-block;
  height: 60px;
  font-size: 50px;
  font-family: nanumGothicFont;
  font-weight: bold;
  text-align: center;
}
.text_wrap{
  overflow: hidden;
  position: relative;
  float: left;
  width: 50px;
  height: 60px;
  text-align: center;
}
.text_after{
  display: inline-block;
  position: absolute;
  color: #232323;
  top: 0;
  transition: all 300ms ease;
}
.text_before{
  display: inline-block;
  position: absolute;
  color: #232323;
  top: 0;
  left: 0;
  transition: all 300ms ease;
}
/* 글자 hover 효과 */
/* project(output) */
.list_wrap ul li a dl .output{
  margin-left: 76px;
}
/* 글자별 가로 크기 */
.list_wrap ul li a dl .output>div:nth-of-type(1){width: 31px;}
/* 글자 크기만큼 after 마이너스 */
.list_wrap ul li a dl .output>div:nth-of-type(1)>.text_after{left: -31px;}
/* 호버일때 after는 0, before은 hover전 after를 -한것만큼 + */
.list_wrap ul li:hover a dl .output>div:nth-of-type(1)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(1)>.text_before{left: 31px;}
/* 2 */
.list_wrap ul li a dl .output>div:nth-of-type(2){width: 33px;}
.list_wrap ul li a dl .output>div:nth-of-type(2)>.text_after{left: -33px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(2)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(2)>.text_before{left: 33px;}
/* 3 */
.list_wrap ul li a dl .output>div:nth-of-type(3){width: 39px;}
.list_wrap ul li a dl .output>div:nth-of-type(3)>.text_after{left: -39px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(3)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(3)>.text_before{left: 39px;}
/* 4 */
.list_wrap ul li a dl .output>div:nth-of-type(4){width: 26px;}
.list_wrap ul li a dl .output>div:nth-of-type(4)>.text_after{left: -26px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(4)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(4)>.text_before{left: 26px;}
/* 5 */
.list_wrap ul li a dl .output>div:nth-of-type(5){width: 25.5px;}
.list_wrap ul li a dl .output>div:nth-of-type(5)>.text_after{left: -25.5px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(5)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(5)>.text_before{left: 25.5px;}
/* 6 */
.list_wrap ul li a dl .output>div:nth-of-type(6){width: 37px;}
.list_wrap ul li a dl .output>div:nth-of-type(6)>.text_after{left: -37px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(6)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(6)>.text_before{left: 37px;}
/* 7 */
.list_wrap ul li a dl .output>div:nth-of-type(7){width: 30px;}
.list_wrap ul li a dl .output>div:nth-of-type(7)>.text_after{left: -30px;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(7)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .output>div:nth-of-type(7)>.text_before{left: 30px;}

/* YG ENTER */
.list_wrap ul li a dl .ygenter{
  margin-left: 76px;
}
/* 글자별 가로 크기 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(1){width: 34px;}
/* 글자 크기만큼 after 마이너스 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(1)>.text_after{left: -34px;}
/* 호버일때 after는 0, before은 hover전 after를 -한것만큼 + */
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(1)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(1)>.text_before{left: 34px;}
/* 2 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(2){width: 36px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(2)>.text_after{left: -36px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(2)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(2)>.text_before{left: 36px;}
/* 3 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(3){width: 20px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(3)>.text_after{left: -20px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(3)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(3)>.text_before{left: 20px;}
/* 4 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(4){width: 27px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(4)>.text_after{left: -27px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(4)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(4)>.text_before{left: 27px;}
/* 5 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(5){width: 40px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(5)>.text_after{left: -40px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(5)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(5)>.text_before{left: 40px;}
/* 6 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(6){width: 30px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(6)>.text_after{left: -30px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(6)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(6)>.text_before{left: 30px;}
/* 7 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(7){width: 27px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(7)>.text_after{left: -27px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(7)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(7)>.text_before{left: 27px;}
/* 8 */
.list_wrap ul li a dl .ygenter>div:nth-of-type(8){width: 33px;}
.list_wrap ul li a dl .ygenter>div:nth-of-type(8)>.text_after{left: -33px;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(8)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .ygenter>div:nth-of-type(8)>.text_before{left: 33px;}

/* boolatoon */
.list_wrap ul li a dl .boolatoon{
  margin-left: 38px;
}
/* 1 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(1){width: 32px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(1)>.text_after{left: -32px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(1)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(1)>.text_before{left: 32px;}
/* 2 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(2){width: 39px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(2)>.text_after{left: -39px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(2)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(2)>.text_before{left: 39px;}
/* 3 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(3){width: 39px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(3)>.text_after{left: -39px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(3)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(3)>.text_before{left: 39px;}
/* 4 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(4){width: 28px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(4)>.text_after{left: -28px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(4)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(4)>.text_before{left: 28px;}
/* 5 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(5){width: 36px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(5)>.text_after{left: -36px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(5)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(5)>.text_before{left: 36px;}
/* 6 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(6){width: 32px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(6)>.text_after{left: -32px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(6)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(6)>.text_before{left: 32px;}
/* 7 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(7){width: 39px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(7)>.text_after{left: -39px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(7)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(7)>.text_before{left: 39px;}
/* 8 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(8){width: 39px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(8)>.text_after{left: -39px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(8)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(8)>.text_before{left: 39px;}
/* 9 */
.list_wrap ul li a dl .boolatoon>div:nth-of-type(9){width: 40px;}
.list_wrap ul li a dl .boolatoon>div:nth-of-type(9)>.text_after{left: -40px;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(9)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .boolatoon>div:nth-of-type(9)>.text_before{left: 40px;}

/* acg */
.list_wrap ul li a dl .acg{
  margin-left: 146px;
}
/* 1 */
.list_wrap ul li a dl .acg>div:nth-of-type(1){width: 36px;}
.list_wrap ul li a dl .acg>div:nth-of-type(1)>.text_after{left: -36px;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(1)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(1)>.text_before{left: 36px;}
/* 2 */
.list_wrap ul li a dl .acg>div:nth-of-type(2){width: 34px;}
.list_wrap ul li a dl .acg>div:nth-of-type(2)>.text_after{left: -34px;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(2)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(2)>.text_before{left: 34px;}
/* 3 */
.list_wrap ul li a dl .acg>div:nth-of-type(3){width: 38px;}
.list_wrap ul li a dl .acg>div:nth-of-type(3)>.text_after{left: -38px;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(3)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .acg>div:nth-of-type(3)>.text_before{left: 38px;}

/* 사이즈 재기용 테스트와 프로젝트 추가 시 넣을 예시 */
/* security
.list_wrap ul li a dl .security{
  margin-left: 81px;
}
1
.list_wrap ul li a dl .security>div:nth-of-type(1){width: 29px;}
.list_wrap ul li a dl .security>div:nth-of-type(1)>.text_after{left: -29px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(1)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(1)>.text_before{left: 29px;}
2
.list_wrap ul li a dl .security>div:nth-of-type(2){width: 27px;}
.list_wrap ul li a dl .security>div:nth-of-type(2)>.text_after{left: -27px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(2)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(2)>.text_before{left: 27px;}
3
.list_wrap ul li a dl .security>div:nth-of-type(3){width: 32px;}
.list_wrap ul li a dl .security>div:nth-of-type(3)>.text_after{left: -32px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(3)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(3)>.text_before{left: 32px;}
4
.list_wrap ul li a dl .security>div:nth-of-type(4){width: 37px;}
.list_wrap ul li a dl .security>div:nth-of-type(4)>.text_after{left: -37px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(4)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(4)>.text_before{left: 37px;}
5
.list_wrap ul li a dl .security>div:nth-of-type(5){width: 33px;}
.list_wrap ul li a dl .security>div:nth-of-type(5)>.text_after{left: -33px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(5)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(5)>.text_before{left: 33px;}
6
.list_wrap ul li a dl .security>div:nth-of-type(6){width: 18px;}
.list_wrap ul li a dl .security>div:nth-of-type(6)>.text_after{left: -18px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(6)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(6)>.text_before{left: 18px;}
7
.list_wrap ul li a dl .security>div:nth-of-type(7){width: 30px;}
.list_wrap ul li a dl .security>div:nth-of-type(7)>.text_after{left: -30px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(7)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(7)>.text_before{left: 30px;}
8
.list_wrap ul li a dl .security>div:nth-of-type(8){width: 31px;}
.list_wrap ul li a dl .security>div:nth-of-type(8)>.text_after{left: -31px;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(8)>.text_after{left: 0;}
.list_wrap ul li:hover a dl .security>div:nth-of-type(8)>.text_before{left: 31px;}
.test>div{
  display: inline-block;
}
 */

.list_wrap ul li dl dd{
  display: block;
  line-height: 36px;
  text-align: center;
}
.thumb_img{
  width: 400px;
  height: 225px;
  background-color: #232323;
}
.thumb_output{

}
.thumb_yg{
  background-image: url('../../img/main/thumb_yg.jpg');
}
.thumb_boolatoon{
  background-image: url('../../img/main/thumb_boolatoon.png');
}
.thumb_acg{
  background-image: url('../../img/main/thumb_acg.jpg');
}
/* //list_contain */
.btn{
  display: none;
}
/* //btn */
/* //container */
/* resume_modal */
.reume_modal{
  display: none;
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  overflow: scroll;
}
.pdf_wrap{
  width: 1000px;
  height: auto;
  padding: 90px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.close_btn{
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: 500px;
  width: 50px;
  height: 50px;
}
.close_btn button{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
}
.close_btn button i{
  color: #232323;
  font-size: 40px;
}
/* //resume_modal */